.navbar {
  padding-top   : 0%;
  padding-bottom: 0%;
}

.nav2 {
  box-shadow: 1px 1px 1px #dddddd
}

.navbar-default img {
  width: 15%;
}

.active {
  color: #135c91;
}

.text-brand {
  color       : #000000;
  font-size   : 1rem;
  font-weight : 600;
  padding-left: 30px;
}


.navbar-footer {
  z-index         : 2;
  text-align      : center;
  background-color: white;
  height          : 80px;
}

.navbar-footer .contents {
  padding-top: 20px;
  color      : #135c91;
}

.navbar-footer .btn-footer {
  background-color: #135c91;
  color           : white;
}

.navbar-footer .d-grid {
  padding-left: 10px !important;
}

.card-box-c {
  border       : solid 2px #37BD3F;
  border-radius: 5px;
}

.btn-plan {
  background-color: #37BD3F;
  color           : white;
  margin          : 10px 0px 20px 0px;
}

.card-body-c {
  background-color: #f2f2f2;
}

.card-body-c i {
  font-size: 28px;
  color    : #135c91;
}

.card-body-f {
  background-color: #37BD3F;
  border-radius   : 10px;
}

.card-body-f i {
  font-size: 28px;
}

.card-body-f p {
  color: white;
}

.content-c {
  color        : #000000;
  font-weight  : 600;
  margin-bottom: 0%;
}

.bg-image {
  background-repeat    : no-repeat;
  background-attachment: fixed;
  background-size      : contain;
}

.title-a {
  text-decoration: none;
}

.carousel-pagination-oferece {
  margin-top: 10px;
  text-align: center;
}

.carousel-pagination-oferece .swiper-pagination-bullet {
  width           : 18px;
  height          : 10px;
  background-color: #555;
  margin          : 0 4px;
  border-radius   : 0;
  opacity         : 1;
  transition      : 0.3s;
}

.carousel-pagination-oferece .swiper-pagination-bullet-active {
  background-color: #135c91;
  width           : 36px;
}

.container-a-i {
  background: radial-gradient(circle at 5% 200%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  padding   : 10px;
  text-align: center;
  color     : white;
  font-size : 16px;
}

.container-a-f {
  background: #2050b3;
  padding   : 10px;
  text-align: center;
  color     : white;
  font-size : 16px;
}

.btn-primary-form {
  background-color: #135c91;
  color           : white;
}

.custom-select {
  border-radius: 5px;
  width        : 300px;
  border-color : #313131;
}

.custom-select:hover,
.custom-select:active,
.custom-select:focus {
  border-color: #313131;
}

.custom-select option {
  border-color: #313131;
}

.contact-nav {
  position     : fixed;
  bottom       : 100px;
  right        : 10px;
  z-index      : 3;
  background   : #0079a4;
  width        : 50px;
  height       : 50px;
  border-radius: 50px;
  overflow     : hidden;
  float        : left;

  transition: 0.3s ease;
}

.btn-contact-nav {
  width      : 60px;
  padding-top: 7px;
}

.btn-contact-nav i {
  color    : white;
  font-size: 22px;
}

.home {
  background-image: url("../img/hero-bg.jpg");
}

.btn-mit {
  background: #0079a4;

  border-radius: 0%;
}

.btn-mit a {
  color: white;
}

.select-citys {
  background: #0079a4;
  margin-top: 20px;
  padding   : 40px;
}

.select-citys p {
  text-align: center;
  color     : white;
}

.itens-card {
  padding-left: 20px;
}

.about .nav-pills {
  border-bottom: 1px solid rgba(var(--color-secondary-rgb), 0.2);
}

.about .nav-pills li+li {
  margin-left: 40px;
}

.about .nav-link {
  background   : none;
  font-size    : 18px;
  font-weight  : 400;
  color        : var(--color-secondary);
  padding      : 12px 0;
  margin-bottom: -2px;
  border-radius: 0;
  font-family  : var(--font-secondary);
}

.about .nav-link.active {
  color        : #37BD3F;
  background   : none;
  border-bottom: 3px solid #37BD3F;
}

@media (max-width: 575px) {
  .about .nav-link {
    font-size: 16px;
  }
}

.about .tab-content h4 {
  font-size  : 18px;
  margin     : 0;
  font-weight: 700;
  color      : var(--color-secondary);
}

.about .tab-content i {
  font-size   : 22px;
  line-height : 0;
  margin-right: 8px;
  color       : var(--color-primary);
}

.card-body-services {
  height: 225px;
}

.card-body-services .content-services img {
  width: 40%;
}

.card-body-services h5 {
  font-size  : 16px;
  color      : #0079a4;
  font-weight: bold;
}

.content-services p {
  color      : #0079a4;
  font-weight: bold;
}

@media (min-width: 767px) {
  .intro {
    height  : 70vh;
    position: relative;
    color   : #ffffff;
  }

  .igbi-img img {
    width: 80%;
  }

  .navbar-footer .btn-footer {
    font-size: 16px;
  }

  .title-a {
    font-size: 2.6rem;
  }

  .title-wrap {
    display        : flex;
    justify-content: space-between;
  }

  .home {
    padding-top: 20%;
  }

  .select-citys p {
    font-size: 22px;
  }
}

@media (max-width: 767px) {

  .igbi-img img {
    width         : 50%;
    padding-bottom: 10px;
    padding-top   : 10px;
  }

  .navbar-footer .btn-footer {
    font-size: 13px;
  }

  .text-brand {
    font-size: 1.8rem;
  }

  .navbar-default img {
    width: 100%;
  }

  .intro {
    height: 20vh;
  }

  .title-a {
    font-size: 1.8rem;
  }

  .navbar-footer {
    font-size: 12px;
  }

  .home {
    padding-top: 40%;
  }

  .select-citys p {
    font-size: 18px;
  }
}